
body{
    margin: 0;
    padding: 0;
    background: url('https://media.meteojob.com/theme/2.3/images/bg-clouds.png'),linear-gradient(to top,#6CC2EB,#1299D8);
    height: 100vh;
    font-family: 'Open Sans',Arial, sans-serif;
    font-size: 1em;
    color: #42456b;
    font-weight: bold;

}
main{
    width: 700px;
    margin: auto;


}

form{

    background-color: #FFFFFF;
    padding: 2em;
    box-sizing: border-box;
    margin-bottom: 2em;
    border-radius: 4px;

}
label,input{

    display: block;

}
a{
  color: #42456b;   
}

header{
    text-align: center;

}
header > h2{
    color: #FFFFFF;
    font-size: 1.2em;
    font-weight: 400px;
    font-family: 'Poiret One', cursive;
}

input[type="checkbox"]{
    display: none;

}

h2{
    font-size: .9em;
    color: #42456b;
}

input[type="submit"]{

    margin: 45px auto;
    padding: 15px 25px;
    color: #FFFFFF;
    background-color: #3498db;
    outline: none;
    border: none;
    
    font-size: 1.2em;
}
.prenom input{
    
    width: 95%;
    height: 80%;
    padding-left: 3%;
}

.prenom{

    display: flex;
    flex-direction: row;
    justify-content: space-between;  
    margin-bottom: 30px;   


}
.name{
    
    width: 49%; 
   /* padding: 8px ;8*/
    box-sizing: border-box;
}
.surnom{
    
    width: 49%;
   /* padding: 8px ;*/
    box-sizing: border-box;
}


.class{
   display: flex;
    flex-direction: column;
   box-sizing: border-box;
   margin-top: 20px;
}

.class > input{
    margin-top: 10px;
    width: 100%;
    box-sizing: border-box;
    padding: 10px 9px;

}
label{
    font-family: 'Open Sans', sans-serif;
     color: #42456b;
}

.btn{

    overflow: hidden;


}

.bt{
   margin: 10px;
   padding: 22px 62px;
   border: none;
   color:#16354e;

}
.bt1{
    
    margin: auto;
   padding: 21px 9px 8px 10px;
   border: none;
   color:#000000b5;
}

.oeil{
    width: 630px;
    height: 7vh;
    border: 1px solid #aaa;
    box-sizing: border-box;
    padding-left: 10px;
    margin: 4px;
    font-size: 1em;
    display: flex;
    justify-content: space-between;
    margin-bottom: auto;
    box-sizing: border-box;
    
}
#password {
    border: none;
   /* font-size: 1em;*/
   outline-color: #248BCE;
    width: 23vw;
}
#img {
    height: 20px;
    width: 20px;
    padding-right: 10px;
    padding: 11px;
}



/*------bouton--------*/


.bloc3{
    display: flex;
    justify-content: space-between;
    

}
.checkbox-btn{
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 102px;
    height: 40px;
    margin: 38px -14px 16px 10px
   
}

.checkbox-btn input{
     position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
    display: block;
    opacity: 0;
    z-index: 1;
    margin: 5px;
    
    
}
.checkbox-btn div{
    position: absolute;
    top: 0;
    left: 0;
    width: 130%;
    height: 85%;
    display: block;
    border: 4px solid #e4d5d5;
    border-radius: 15px;
    box-shadow: 0 10px 20px rgba(0,0,0,0,0.5); 
    
    overflow: hidden;

}
.checkbox-btn div .slide{
    position: absolute;
    top: 0;
    left: 0;
    width: 100px;
    height: 85px;
    background: #e4d5d5;
    transition: 0.5s;
}
.checkbox-btn input:checked + div .slide{
    transform: translateX(40px);
}
.checkbox-btn .slide:before{
    content: 'OUI';
    position: absolute;
    top: 0;
    left: -38px;
    text-align: center;
    width: 37px;
    height: 40px;
    line-height: 38px;
    background: #adadad;
    font-weight: bold;
    color: #fff;

}
.checkbox-btn .slide:after{
    content: 'NON';
    position: absolute;
    top: 0;
    right: 14px;
    text-align: center;
    width: 40px;
    height: 45px;
    line-height: 40px;
    background: #adadad;
    font-weight: bold;
    color: #fff;

}
/*.bloc3{

  /*  top: 50%;
    left: 50%;
    transform: translate(-50%,50%);
    width: 100px;
    height: 40px;
    background: #ccc;
        }*/
 






