body{
    margin: 0;
    padding: 0;
    background: url('https://media.meteojob.com/theme/2.3/images/bg-clouds.png'),linear-gradient(to top,#6CC2EB,#1299D8);
    height: 100vh;
    font-family: 'Open Sans',Arial, sans-serif;
    font-size: 1em;
    color: #383636d1;
    font-weight: bold;

}
main{
    width: 700px;
    margin: auto;


}

form{
    background-color: #FFFFFF;
    padding: 2em;
    box-sizing: border-box;
    margin-bottom: 1.2em;
    border-radius: 4px;

}
label,input{
    display: block;

}

header{
    text-align: center;

}
header > h2{
    color: #FFFFFF;
    font-size: 1.2em;
    font-weight: 400px;
}

input[type="checkbox"]{
    display: none;
}

h2{
    font-size: .9em;
    color: #272525DA;
}

input[type="submit"]{
    margin: 6px auto;
    padding: 15px 25px;
    color: #FFFFFF;
    background-color: #3498db;
    outline: none;
    border: none;
    border-radius: 3px;
    font-size: 1.2em;
}
.prenom input{
    width: 100%;
    height: 70%;
  /* padding-left: 3%;*/
}

.prenom{

    display: flex;
    flex-direction: row;
    justify-content: space-between;     


}
.name{
    
    width: 49%; 
   /* padding: 8px ;8*/
    box-sizing: border-box;
}
.surnom{
    
    width: 49%;
   /* padding: 8px ;*/
    box-sizing: border-box;
}


.class{
   display: flex;
    flex-direction: column;
   box-sizing: border-box;
}

.class > input{
    width: 100%;
    box-sizing: border-box;
    padding: 8px 9px;

}

.btn{

    overflow: hidden;


}

.bt{
   margin: 10px;
   padding: 16px 45px;
   border: none;
   color:#000000b5;

}
.bt1{
    
    margin: auto;
   padding: 15px 10px 2px 10px;
   border: none;
   color:#000000b5;
}
.span{

    color: #000000b5;

}
   /*---button-----*/ 

input[type="submit"]{
  cursor: pointer;
  font-size: 20px;
}

.col div label input:checked{
  background: red;
}

.bouttonbox input[type="checkbox"]{
  width: 100px;
  height: 40;
  background: red;
  -webkit-appearance: none;

}



.checkbox-btn{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100px;
  height: 30px;
  margin-top: 30%;
  margin-left: 15%;
  
  
}
.checkbox-btn input{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  cursor: pointer;
  opacity: 0;
  z-index: 1;
}
.checkbox-btn div{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  
  border-radius: 5px;
  
  overflow: hidden;
  
}

.checkbox-btn div .slide{
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  height: 50px;
  background: rgb(238, 238, 238);
  transition: 0.2s;
}
.checkbox-btn input:checked + div .slide{
  transform: translateX(60px);
}

.checkbox-btn .slide:before{
  content: 'OUI';
  position: absolute;
  top: 0;
  left: -60px;
  text-align: center;
  width: 60px;
  height: 100%;
  background: rgb(101, 177, 240);
  font-weight: 800;
  color: rgb(255, 255, 255);
  line-height: 30px;
}
.checkbox-btn .slide:after{
  content: 'NON';
  position: absolute;
  top: 0;
  right: -60px;
  text-align: center;
  width: 70px;
  height: 100%;
  background: #bbb8b8;
  font-weight: 800;
  color: rgb(255, 255, 255);
  line-height: 30px;
}
/*i{
  position: absolute;
  margin-top: 35px;
  margin-left: 410px;
}*/
.oeil{
    width: 630px;
    height: 5vh;
    border: 1px solid #aaa;
    box-sizing: border-box;
    padding-left: 10px;
    margin: 4px;
    font-size: 1em;
    display: flex;
    justify-content: space-between;
    margin-bottom: 4vh;
    box-sizing: border-box;
}
#password {
    border: none;
   /* font-size: 1em;*/
    outline: none;
    width: 23vw;
}
#img {
    height: 20px;
    width: 20px;
    padding-right: 10px;
    padding: 5px;
}



